@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
}

html{
  overflow-x: hidden;
}

body{
  font-family: 'IBM Plex Mono', monospace;
}

.is-brand{
  background-color: #3F8E00 !important;
}
.is-button{
  background-color: #A70808;
}
.is-image-size{
  width: 400px;
}

.is-image-size-mobile{
  width: 300px;
}

.is-icon-size{
  width: 200px;
}